<header>
  <nav class="nav nav-pills flex-column flex-sm-row">
    <a class="flex-sm-fill text-sm-center nav-link active" aria-current="page" href="#">HOME</a>
    <a class="flex-sm-fill text-sm-center nav-link" (click)="handleNavigation('ABOUT')">ABOUT US</a>
    <a class="flex-sm-fill text-sm-center nav-link disabled">CONTACT US</a>
    <a class="flex-sm-fill text-sm-center nav-link disabled">REGISTER</a>
  </nav>
</header>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 style="visibility: hidden;">NextGen OTT is running!</h1>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>