<div>
    <h5>Enjoyed streaming NEXT GEN OTT</h5>
    <p>This is a product designed by Rahul chaube. 
       This product brings to attention the power and technical freedom provided by Angular Framework.
       This product harnessed the power provided by technical tools such as Angular, HTML5, CSS3, Typescript, Javascript, Bootstrap, Scss.
       I specialise in breaking down the real world business problems into a technical statement.
    </p>
    <a href="mailto:rahul.chaube11031993@gmail.com"><p>Enjoyed the application?Contact📬 </p></a>
</div>
