// div.searchComponent
// {
//     div.searchFields
//     {
//         margin-left: 20% !important;
//     }
// }
.spinner-border
{
    width: 5rem;
    height: 5rem;
}

div.searchFields
{
    margin-left: 20% !important;
}