
<div *ngIf="result != null" class="row SearchList">
  <h3>Trending..</h3>
  <br>
  <div *ngFor="let item of result; index as i;" class="container">
      <div class="card-body" (click)="fetchDetails(item.media_type, item.id)">
          <div *ngIf="item.backdrop_path != null"class="media">
            <img style="width:400px; height: 250px"
                 src="{{constants.POSTER_BASE_URL}}{{item.backdrop_path}}"
                 onerror="this.onerror=null;this.src='/assets/icons/default.jpg'"
                 alt="Missing Movie Poster"
                 title="Movie Poster Missing">
          </div>
          <div *ngIf="item.backdrop_path == null" class="media">
            <img style="width:400px; height: 250px;"
                 src="{{constants.POSTER_BASE_URL}}{{item.poster_path}}"
                 onerror="this.onerror=null;this.src='/assets/icons/default.jpg'"
                 alt="Movie Poster"
                 title="Movie Poster Missing">
          </div>
          <div class="caption">
            <h5 *ngIf="item.media_type.toUpperCase() === Media_Type.MOVIE">{{item.title}}</h5>
            <h5 *ngIf="item.media_type.toUpperCase() === Media_Type.TV">{{item.name}}</h5>
          </div>
      </div>
  </div>
</div>

<div *ngIf="result == null" class="spinner">
  <div class="spinner-border" role="status">
  </div>
  <p>loading..</p>
</div>

<!-- <div *ngIf="result == null" class="spinner-border" role="status">
  <span class="visually-hidden">Loading...</span>
</div> -->
